.tabs {
    display: flex;
}

.tabButton {
    background: none;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    outline: none;
    color: var(--accent-text-color);
    font-family: var(--accent-font-family);
    border-bottom: 2px solid var(--accent-border-color);
    font-size: 22px;
    font-weight: 500;
    transition: background-color 0.5s ease, border-bottom 0.5s ease, font-weight 0.5s ease;
}

.tabButton:hover {
    color: var(--accent-activetab-color);
}

.active {
    border-bottom: 2px solid var(--accent-activetab-color);
    color: var(--accent-activetab-color);
    font-weight: 700;
}

