.preloaderContainer {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    position: absolute;
    top: 25%;
    left: 50%;
}

.preloader {
    fill: var(--accent-color-text);
    animation: load 2s infinite cubic-bezier(.17,1.27,.48,.36);
}

@keyframes load {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}